node_modules
dist
build
.DS_Store
.env
cssOS.env
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
node_modules/
data/
registry/target/
public/examples/
public/assets/mirror-1-backup.webp
public/assets/mirror-2-backup.webp
public/assets/mirror-3.PNG
public/assets/mirror-4.PNG
public/fonts/mirror-1.webp
public/fonts/mirror-2.webp
public/fonts/mirror-video.MP4
public/fonts/.DS_Store

public/fonts/
public/assets/examples/

public/fonts/
public/examples/
public/assets/examples/
